.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

button {
  height: 100px;
  width: 100px;
  padding: 20px;
  border-radius: 5px;
  font-size: xx-large;
}